/*
 * This file is part of ilo. It is subject to the license terms in the LICENSE file found in the top-level
 * directory of this distribution and at http://creativecommons.org/publicdomain/zero/1.0/. No part of ilo,
 * including this file, may be copied, modified, propagated, or distributed except according to the terms contained
 * in the LICENSE file.
 */

body {
    background-color: black;
    color: white;
}

img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
}

img:hover {
    opacity: 1;
}

#header a {
    color: white;
}

.svgimg {
    filter: invert(1);
}

a, a:visited, a > span {
    color: #268bd2;
/ / #4AF626 terminal green
}

li::marker {
    color: white;
}
