body {
    font-family: 'DejaVu Sans', Georgia, sans-serifs, serif
}

.tag {
    font-size: small;
    color: gray
}

blockquote {
    font-style: italic;
}

blockquote > p::before, blockquote > p::after {
    content: 'â€';
}

code {
    font-weight: bold;
}
