/*
 * This file is part of ilo. It is subject to the license terms in the LICENSE file found in the top-level
 * directory of this distribution and at http://creativecommons.org/publicdomain/zero/1.0/. No part of ilo,
 * including this file, may be copied, modified, propagated, or distributed except according to the terms contained
 * in the LICENSE file.
 */

#footer {
    border: dotted gray;
    border-width: 2px 0 0 0;
    font-size: small;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center
}

#footer a {
    text-decoration: none;
    color: black
}
