/*
 * This file is part of ilo. It is subject to the license terms in the LICENSE file found in the top-level
 * directory of this distribution and at http://creativecommons.org/publicdomain/zero/1.0/. No part of ilo,
 * including this file, may be copied, modified, propagated, or distributed except according to the terms contained
 * in the LICENSE file.
 */

#site {
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "header header" "navigation content" "navigation footer";
}

#header {
    visibility: visible;
}

