#site {
    grid-template-rows: auto auto 100px auto;
    grid-template-columns: 1fr;
    grid-template-areas: "content" "navigation" "footer" "header";
}

#header {
    visibility: hidden;
    display: none;
}
