#header {
    display: flex;
    align-items: center;
    align-self: center;
    border: dotted gray;
    border-width: 0 0 2px 0;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 100vw
}

#header a {
    text-decoration: none;
    color: black
}

#projectname {
    flex-grow: 1;
    display: flex
}

#projectname #sitemaplink {
    margin-top: 4px;
    margin-left: 10px;
    mask: url(/images/sitemap.svg) no-repeat center;
}

#languages {
    font-size: 25px;
    border: dotted gray;
    border-width: 0 2px 0 0;
}

#languages a {
    margin-right: 15px
}

#actions a:first-child {
    margin-left: 15px
}

#actions a:not(:last-child) {
    margin-right: 15px
}
