#site {
    display: grid;
}

#header {
    grid-area: header;
}

#navigation {
    grid-area: navigation;
}

#content {
    grid-area: content;
    margin-left: 15px;
    margin-right: 15px;
}

#footer {
    grid-area: footer;
}

#content pre {
    overflow-x: auto;
    max-width: 90vw;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

#post-content img {
    width: 80vw;
    margin-top: 24px;
    margin-bottom: 24px;
}

#home-divider {
    border: 0 dotted gray;
    border-top-width: 2px;
    margin-top: 24px;
}

#content > .post-titel {
    margin-bottom: 0;
}
