#navigation {
    border-width: 2px 0 0 0;
    margin-left: 15px;
    margin-right: 15px;
}

#navigation li {
    padding-top: 0.6rem;
}

.menudivider {
    margin-top: 16px;
    margin-left: -12px;
}

.menutitle {
    margin-top: 0;
    margin-bottom: 0;
}
