name: Perform Release
on:
  schedule:
    - cron:  '45 3 * * MON'
jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Create Release Version
        id: release
        run: echo "::set-output name=version::$(date +'%Y.%-m.%-d-%-H%M%S')"
      - name: Write Relase Version
        run: echo ${{ steps.release.outputs.version }} > version.txt
      - name: Persist Release Version
        uses: actions/upload-artifact@v2
        with:
          name: release
          path: version.txt
  linux:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v2
      - name: setup-graalvm-ce
        uses: rinx/setup-graalvm-ce@v0.0.4
        with:
          graalvm-version: "20.1.0"
          java-version: "java11"
          native-image: "true"
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Download Release Version
        uses: actions/download-artifact@v2
        with:
          name: release
      - name: Release Version
        id: release
        run: cat "::set-output name=version::version.txt"
      - name: GPG Key
        id: gpg
        run: |
          echo ${{ secrets.GPG_KEY }} | base64 --decode > signing.key.asc
      - name: Verify Project
        run: mvn --batch-mode --settings $GITHUB_WORKSPACE/build/settings.xml verify -Drevision=${{ steps.release.outputs.version }} -Dskip.graal=false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_KEY_PASSPHRASE: ${{ secrets.GPG_KEY_PASSPHRASE }}
      - name: Upload Java 11 Artifact
        uses: actions/upload-artifact@v2
        with:
          name: java11
          path: ./target/ilo-${{ steps.release.outputs.version }}-java11*
      - name: Upload Linux Artifact
        uses: actions/upload-artifact@v2
        with:
          name: linux
          path: ./target/ilo-${{ steps.release.outputs.version }}-linux*
  release:
    runs-on: ubuntu-latest
    needs:
      - linux
    steps:
      - uses: actions/checkout@v2
      - name: Count Commits
        id: commits
        run: echo "::set-output name=count::$(git rev-list --count HEAD --since='last Monday')"
      - name: Download Release Version
        uses: actions/download-artifact@v2
        id: release-dl
        with:
          name: release
      - name: Download Java11
        id: java11-dl
        uses: actions/download-artifact@v2
        with:
          name: java11
      - name: Download Linux
        id: linux-dl
        uses: actions/download-artifact@v2
        with:
          name: linux
      - name: Release Version
        id: release
        run: cat "::set-output name=version::version.txt"
      - name: Generate Changelog
        id: changelog
        uses: heinrichreimer/github-changelog-generator-action@v2.1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release
        if: steps.commits.outputs.count > 0
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.release.outputs.version }}
          release_name: Release ${{ steps.release.outputs.version }}
          draft: false
          prerelease: false
          body: |
            # ilo
            Manage reproducible build environments. Take a look at the [website](https://ilo.projects.metio.wtf/) for detailed information.
            ## Changes
            ${{ steps.changelog.outputs.changelog }}
      - name: Upload Java11 Artifact
        if: steps.commits.outputs.count > 0
        id: upload-java11-artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.java11-dl.outputs.download-path }}/ilo-${{ steps.release.outputs.version }}-java11.zip
          asset_name: ilo-${{ steps.release.outputs.version }}-java11.zip
          asset_content_type: application/zip
      - name: Upload Java11 Checksum
        if: steps.commits.outputs.count > 0
        id: upload-java11-checksum
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.java11-dl.outputs.download-path }}/ilo-${{ steps.release.outputs.version }}-java11.zip.sha512
          asset_name: ilo-${{ steps.release.outputs.version }}-java11.zip.sha512
          asset_content_type: text/plain
      - name: Upload Java11 Signature
        if: steps.commits.outputs.count > 0
        id: upload-java11-signature
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.java11-dl.outputs.download-path }}/ilo-${{ steps.release.outputs.version }}-java11.zip.asc
          asset_name: ilo-${{ steps.release.outputs.version }}-java11.zip.asc
          asset_content_type: text/plain
      - name: Upload Linux Artifact
        if: steps.commits.outputs.count > 0
        id: upload-linux-artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.linux-dl.outputs.download-path }}/ilo-${{ steps.release.outputs.version }}-linux.zip
          asset_name: ilo-${{ steps.release.outputs.version }}-linux.zip
          asset_content_type: application/zip
      - name: Upload Linux Checksum
        if: steps.commits.outputs.count > 0
        id: upload-linux-checksum
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.linux-dl.outputs.download-path }}/ilo-${{ steps.release.outputs.version }}-linux.zip.sha512
          asset_name: ilo-${{ steps.release.outputs.version }}-linux.zip.sha512
          asset_content_type: text/plain
      - name: Upload Linux Signature
        if: steps.commits.outputs.count > 0
        id: upload-linux-signature
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.linux-dl.outputs.download-path }}/ilo-${{ steps.release.outputs.version }}-linux.zip.asc
          asset_name: ilo-${{ steps.release.outputs.version }}-linux.zip.asc
          asset_content_type: text/plain
      - name: Send Mail
        if: steps.commits.outputs.count > 0
        uses: dawidd6/action-send-mail@v2
        with:
          server_address: ${{ secrets.MAIL_SERVER }}
          server_port: ${{ secrets.MAIL_PORT }}
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: ilo #release ${{ steps.release.outputs.version }}
          body: See https://github.com/metio/ilo/releases/tag/${{ steps.release.outputs.version }} for details.
          to: ilo@metio.groups.io
          from: ${{ secrets.MAIL_SENDER }}
      - name: Publish Toot
        if: steps.commits.outputs.count > 0
        uses: rzr/fediverse-action@master
        with:
          access-token: ${{ secrets.MASTODON_TOKEN }}
          message: "#ilo version ${{ steps.release.outputs.version }} published! https://github.com/metio/ilo/releases/tag/${{ steps.release.outputs.version }} #metio"
          host: ${{ secrets.MASTODON_SERVER }}
      - uses: BjornLuG/release-for-reddit-action@v1
        if: steps.commits.outputs.count > 0
        with:
          username: ${{ secrets.REDDIT_USERNAME }}
          password: ${{ secrets.REDDIT_PASSWORD }}
          app-id: ${{ secrets.REDDIT_APP_ID }}
          app-secret: ${{ secrets.REDDIT_API_SECRET }}
          subreddit: ${{ secrets.REDDIT_SUBREDDIT }}
          title: "${{ github.repository }} version ${{ steps.release.outputs.version }} published"
          url: https://github.com/metio/ilo/releases/tag/${{ steps.release.outputs.version }}
          comment: |
            Take a look at the [website](https://ilo.projects.metio.wtf/) for detailed information.
            # Changes
            ${{ steps.changelog.outputs.changelog }}
