name: Automated Release
on:
  schedule:
    - cron:  45 3 * * MON
env:
  JAVA: 17
  GRAAL: 22.0.0.2
jobs:
  prepare:
    name: Prepare Release
    runs-on: ubuntu-latest
    outputs:
      commit_count: ${{ steps.commits.outputs.count }}
      release_version: ${{ steps.release.outputs.version }}
      previous_version: ${{ steps.previous.outputs.version }}
      changelog: ${{ steps.changelog.outputs.content }}
      release_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - id: checkout
        name: Clone Git Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - id: commits
        name: Count Commits
        run: echo "::set-output name=count::$(git rev-list --count HEAD --since='last Monday' -- src/main/java)"
      - id: release
        name: Create Release Version
        if: steps.commits.outputs.count > 0
        run: echo "::set-output name=version::$(date +'%Y.%-m.%-d')"
      - id: previous
        name: Get Last Release
        if: steps.commits.outputs.count > 0
        run: echo "::set-output name=version::$(git describe --abbrev=0 --tags)"
      - id: generate_changelog
        name: Generate Changelog
        if: steps.commits.outputs.count > 0
        uses: heinrichreimer/github-changelog-generator-action@v2.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          unreleased: true
          issues: true
          issuesWoLabels: true
          pullRequests: true
          prWoLabels: true
          filterByMilestone: false
          futureRelease: ${{ steps.release.outputs.version }}
          sinceTag: ${{ steps.previous.outputs.version }}
          stripGeneratorNotice: true
          stripHeaders: true
      - name: Check Changelog Existence
        id: check_changelog
        uses: andstor/file-existence-action@v1
        with:
          files: CHANGELOG.md
      - name: Create Empty Changelog
        id: empty_changelog
        uses: 1arp/create-a-file-action@0.2
        if: steps.check_changelog.outputs.files_exists == 'false'
        with:
          file: CHANGELOG.md
          content: |
            no user facing changes
      - name: Read Changelog
        id: changelog
        uses: juliangruber/read-file-action@v1
        with:
          path: ./CHANGELOG.md
      - id: create_release
        name: Create Release
        if: steps.commits.outputs.count > 0
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.release.outputs.version }}
          release_name: ${{ steps.release.outputs.version }}
          draft: false
          prerelease: false
          body: |
            # ilo
            Manage reproducible build environments. Take a look at the [website](https://ilo.projects.metio.wtf/) for detailed information.
            ## Changes
            ${{ steps.changelog.outputs.content }}
  build:
    name: Build on ${{ matrix.os }}
    needs: prepare
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - id: checkout
        name: Clone Git Repository
        if: needs.prepare.outputs.commit_count > 0
        uses: actions/checkout@v3
      - id: graal
        name: GraalVM Setup
        uses: graalvm/setup-graalvm@v1
        with:
          version: ${{ env.GRAAL }}
          java-version: ${{ env.JAVA }}
          components: native-image
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - id: cache
        name: Cache Maven Repository
        if: needs.prepare.outputs.commit_count > 0
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - id: gpg
        name: GPG Key
        if: needs.prepare.outputs.commit_count > 0
        uses: timheuer/base64-to-file@v1.1
        with:
          fileName: signing.key.asc
          fileDir: ${{ github.workspace}}
          encodedString: ${{ secrets.GPG_SECRET_KEY_BASE64 }}
      - id: verify
        if: needs.prepare.outputs.commit_count > 0
        name: Verify Project
        run: mvn --batch-mode verify --activate-profiles release --define revision=${{ needs.prepare.outputs.release_version }} --define skipNativeBuild=false --define pgp.secretkey=keyfile:signing.key.asc --define pgp.passphrase=literal:${{ secrets.GPG_SECRET_KEY_PASSWORD }}
      - id: upload-linux-artifact
        name: Upload Linux Artifact
        if: needs.prepare.outputs.commit_count > 0 && runner.os == 'Linux'
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prepare.outputs.release_url }}
          asset_path: ./target/ilo-${{ needs.prepare.outputs.release_version }}-linux.zip
          asset_name: ilo-${{ needs.prepare.outputs.release_version }}-linux.zip
          asset_content_type: application/zip
      - id: upload-linux-checksum
        name: Upload Linux Checksum
        if: needs.prepare.outputs.commit_count > 0 && runner.os == 'Linux'
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prepare.outputs.release_url }}
          asset_path: ./target/ilo-${{ needs.prepare.outputs.release_version }}-linux.zip.sha512
          asset_name: ilo-${{ needs.prepare.outputs.release_version }}-linux.zip.sha512
          asset_content_type: text/plain
      - id: upload-linux-signature
        name: Upload Linux Signature
        if: needs.prepare.outputs.commit_count > 0 && runner.os == 'Linux'
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prepare.outputs.release_url }}
          asset_path: ./target/ilo-${{ needs.prepare.outputs.release_version }}-linux.zip.asc
          asset_name: ilo-${{ needs.prepare.outputs.release_version }}-linux.zip.asc
          asset_content_type: text/plain
      - id: upload-jvm-artifact
        name: Upload JVM Artifact
        if: needs.prepare.outputs.commit_count > 0 && runner.os == 'Linux'
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prepare.outputs.release_url }}
          asset_path: ./target/ilo-${{ needs.prepare.outputs.release_version }}-jvm.zip
          asset_name: ilo-${{ needs.prepare.outputs.release_version }}-jvm.zip
          asset_content_type: application/zip
      - id: upload-jvm-checksum
        name: Upload JVM Checksum
        if: needs.prepare.outputs.commit_count > 0 && runner.os == 'Linux'
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prepare.outputs.release_url }}
          asset_path: ./target/ilo-${{ needs.prepare.outputs.release_version }}-jvm.zip.sha512
          asset_name: ilo-${{ needs.prepare.outputs.release_version }}-jvm.zip.sha512
          asset_content_type: text/plain
      - id: upload-jvm-signature
        name: Upload JVM Signature
        if: needs.prepare.outputs.commit_count > 0 && runner.os == 'Linux'
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prepare.outputs.release_url }}
          asset_path: ./target/ilo-${{ needs.prepare.outputs.release_version }}-jvm.zip.asc
          asset_name: ilo-${{ needs.prepare.outputs.release_version }}-jvm.zip.asc
          asset_content_type: text/plain
      - id: upload-mac-artifact
        name: Upload MacOS Artifact
        if: needs.prepare.outputs.commit_count > 0 && runner.os == 'macOS'
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prepare.outputs.release_url }}
          asset_path: ./target/ilo-${{ needs.prepare.outputs.release_version }}-mac.zip
          asset_name: ilo-${{ needs.prepare.outputs.release_version }}-mac.zip
          asset_content_type: application/zip
      - id: upload-mac-checksum
        name: Upload MacOS Checksum
        if: needs.prepare.outputs.commit_count > 0 && runner.os == 'macOS'
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prepare.outputs.release_url }}
          asset_path: ./target/ilo-${{ needs.prepare.outputs.release_version }}-mac.zip.sha512
          asset_name: ilo-${{ needs.prepare.outputs.release_version }}-mac.zip.sha512
          asset_content_type: text/plain
      - id: upload-mac-signature
        name: Upload MacOS Signature
        if: needs.prepare.outputs.commit_count > 0 && runner.os == 'macOS'
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prepare.outputs.release_url }}
          asset_path: ./target/ilo-${{ needs.prepare.outputs.release_version }}-mac.zip.asc
          asset_name: ilo-${{ needs.prepare.outputs.release_version }}-mac.zip.asc
          asset_content_type: text/plain
      - id: upload-windows-artifact
        name: Upload Windows Artifact
        if: needs.prepare.outputs.commit_count > 0 && runner.os == 'Windows'
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prepare.outputs.release_url }}
          asset_path: ./target/ilo-${{ needs.prepare.outputs.release_version }}-windows.zip
          asset_name: ilo-${{ needs.prepare.outputs.release_version }}-windows.zip
          asset_content_type: application/zip
      - id: upload-windows-checksum
        name: Upload Windows Checksum
        if: needs.prepare.outputs.commit_count > 0 && runner.os == 'Windows'
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prepare.outputs.release_url }}
          asset_path: ./target/ilo-${{ needs.prepare.outputs.release_version }}-windows.zip.sha512
          asset_name: ilo-${{ needs.prepare.outputs.release_version }}-windows.zip.sha512
          asset_content_type: text/plain
      - id: upload-windows-signature
        name: Upload Windows Signature
        if: needs.prepare.outputs.commit_count > 0 && runner.os == 'Windows'
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.prepare.outputs.release_url }}
          asset_path: ./target/ilo-${{ needs.prepare.outputs.release_version }}-windows.zip.asc
          asset_name: ilo-${{ needs.prepare.outputs.release_version }}-windows.zip.asc
          asset_content_type: text/plain
  copr:
    name: Release COPR packages
    needs: [prepare, build]
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Clone Git Repository
        if: needs.prepare.outputs.commit_count > 0
        uses: actions/checkout@v3
      - id: version-update
        name: Update Release Version
        if: needs.prepare.outputs.commit_count > 0
        run: sed -i -- 's/${{ needs.prepare.outputs.previous_version }}/${{ needs.prepare.outputs.release_version }}/g' build/copr/ilo.spec
      - id: changes
        name: Commit Changes
        if: needs.prepare.outputs.commit_count > 0
        uses: EndBug/add-and-commit@v8
        with:
          author_name: ${{ github.actor }}
          author_email: ${{ github.actor }}@users.noreply.github.com
          message: Update ilo.spec for latest release
          add: build/copr/ilo.spec
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - id: webhook
        name: Trigger COPR Webhook
        if: needs.prepare.outputs.commit_count > 0
        uses: joelwmale/webhook-action@2.1.0
        with:
          url: ${{ secrets.COPR_WEBHOOK }}
  announce:
    name: Release Announcement
    needs: [prepare, copr]
    runs-on: ubuntu-latest
    steps:
      - id: email
        name: Send Mail
        if: needs.prepare.outputs.commit_count > 0
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: ${{ secrets.MAIL_SERVER }}
          server_port: ${{ secrets.MAIL_PORT }}
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: release ${{ needs.prepare.outputs.release_version }}
          body: See https://github.com/metio/ilo/releases/tag/${{ needs.prepare.outputs.release_version }} for details.
          to: ilo@metio.groups.io
          from: ${{ secrets.MAIL_SENDER }}
      - id: matrix
        name: Send Matrix Message
        if: needs.prepare.outputs.commit_count > 0
        uses: s3krit/matrix-message-action@v0.0.3
        with:
          room_id: ${{ secrets.MATRIX_ROOM_ID }}
          access_token: ${{ secrets.MATRIX_ACCESS_TOKEN }}
          message: release ${{ needs.prepare.outputs.release_version }} published - see https://github.com/metio/ilo/releases/tag/${{ needs.prepare.outputs.release_version }} for details
          server: matrix.org
