name: Verify
on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: GraalVM Setup
        uses: rinx/setup-graalvm-ce@v0.0.4
        with:
          graalvm-version: "20.1.0"
          java-version: "java11"
          native-image: "true"
      - uses: actions/cache@v1
        name: Cache Maven Repository
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: GPG Key
        id: gpg
        run: |
          echo "${{ secrets.GPG_KEY }}" | base64 --decode > signing.key.asc
      - name: Build with Maven
        run: mvn --batch-mode --settings $GITHUB_WORKSPACE/build/settings.xml verify -Dskip.graal=false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_KEY_PASSPHRASE: ${{ secrets.GPG_KEY_PASSPHRASE }}
      - name: Upload Java 11 Artifact
        uses: actions/upload-artifact@v2
        with:
          name: java11
          path: ./target/ilo-*-java11*
      - name: Upload Linux Artifact
        uses: actions/upload-artifact@v2
        with:
          name: linux
          path: ./target/ilo-*-linux*
